server {
    listen 80;
    charset utf-8;
    access_log  {{ log_folder }}/nginx.log;
    location / {
        uwsgi_pass unix:/tmp/elb-manager_uwsgi.sock;
        uwsgi_read_timeout 500;
        include /etc/nginx/uwsgi_params;
    }
}
