[aws]
aws_access_key_id = {{ aws_access_key_id }}
aws_secret_access_key = {{ aws_secret_access_key }}
region_name = {{ aws_default_region }}

[server]
debug = false
listen_port = 5000
listen_host = 127.0.0.1

[logging]
folder = {{ log_folder }}
rotate_count = 3
rotate_size_in_mb = 5
format = '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
