[uwsgi]
base_path = {{ app_folder }}

wsgi-file = %(base_path)/bin/elb-manager-uwsgi.py

virtualenv = {{ venv_folder }}
pythonpath = %(virtualenv)/bin/python

master = true
post-buffering = 8192
buffer-size = 65535
vacuum = true

no-orphans = true

pidfile = /tmp/elb-manager_uwsgi.pid

chmod-socket = 777
socket-timeout = 15
socket = /tmp/elb-manager_uwsgi.sock

single-interpreter = true
enable-threads = true
ignore-sigpipe = true

processes = 2
listen = 50

reload-on-as = 512
reload-on-rss = 512

min-worker-lifetime = 180
max-worker-lifetime = 500

max-requests = 255

logto = {{ log_folder }}/uwsgi.log
